/*GRID/ GRID ASSIGNMENT*/

html {
	margin: 0;
	padding: 0;

}

.container {
	display: grid;
	height: 750px;
	width: auto;
	grid-template-columns: repeat(3, 1fr);	
	grid-template-rows: repeat(3, 1fr);
	grid-template-areas: 
	"nav nav nav" 
	". search ." 
	"footer footer footer";
	justify-content: center;
	align-content: center;
	font-family: sans-serif;
	font-size: 12px;


}

.main {
	grid-area: search;
	display: inline-block;
}

.nav {
	grid-area: nav;
	list-style-type: none;
	display: inline-block;	
	word-spacing: 15px;
}

.left, .right {
	display:  inline;
}

footer {
	grid-area: footer;
	display: inline-block;
	align-self: end;
	background: whitesmoke;
	border: 1px solid #e8e8e8d1;
	padding: 0px 0px 10px 0px;
	word-spacing: 15px;
}

.foot_l, .foot_r {
	display: inline-block;

}

.foot_l {
	padding: 0px 0px 0px 5px;
}

.foot_r {
	padding: 0px 40px 0px 0px;
}

/*NAVIGATION/FOOTER ALIGNMENT*/

.left {
	float: left;
}

.right, .foot_r {
	float: right;
}


/*NAVIGATION BAR TEXT DISPLAY*/

body .container .nav .right a, body .container .nav .left a {
	text-decoration-line: none;
	color: black;
}

body .container footer .foot_l a, body .container footer .foot_r a {
	text-decoration-line: none;
	color: black;
}


/*SEARCH AREA*/

img {
	position: relative;
	left: 78px;
	bottom: 5px;
}

.search{
	text-align: center;

}

.box {
	width: 428px;
	height: 30px;
	border-radius: 2px;
	box-shadow: -2px 1px 5px -2px #000000;
	border: 1px solid rgba(234, 234, 234, 0.52);
}

button {
	background: #eaeaea;
	color: #717171;
	width: auto;
	height: 25px;
	border: 1px solid #eaeaea;
	border-radius: 2px;
	font-weight: bold;
}

.b1 {
	position: relative;
	top: 30px;
	right: 2px;
}

.b2 {
	position: relative;
	top:  30px;
	left: 2px;
}