/*GRID/ GRID ASSIGNMENT*/


.container {
	display: grid;
	height: 800px;
	width: auto;
	grid-template-columns: repeat(3, 1fr);	
	grid-template-rows: repeat(3, 1fr);
	grid-template-areas: 
	"nav nav nav" 
	". search ." 
	"footer footer footer";
	justify-content: center;
	align-content: center;
	font-family: sans-serif;
	font-size: 12px;


}

.main {
	grid-area: search;
	display: inline-block;
}

.nav {
	grid-area: nav;
	list-style-type: none;
	display: inline-block;	
	word-spacing: 15px;
}

.left, .right {
	display:  inline;
}

footer {
	grid-area: footer;
	display: inline-block;
	align-self: end;
	background: whitesmoke;
	border: 1px solid gainsboro;
	padding: 0px 0px 20px 0px;
	word-spacing: 15px;
}

.foot_l, .foot_r {
	display: inline-block;

}


/*NAVIGATION/FOOTER ALIGNMENT*/

.left {
	float: left;
}

.right, .foot_r {
	float: right;
}


/*NAVIGATION BAR TEXT DISPLAY*/

body .container .nav .right a, body .container .nav .left a {
	text-decoration-line: none;
	color: black;
}

body .container footer .foot_l a, body .container footer .foot_r a {
	text-decoration-line: none;
	color: black;
}


/*SEARCH AREA*/

.search{

}

.box {
	width: 400px;
	height: 30px;
	border-radius: 2px;
	box-shadow: -2px 1px 5px -2px #b3b3b3;
	border: 1px solid #eaeaea;
}

.button {
	background: gainsboro;
	color: gray
}